* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #003366;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #2e3338;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    background-color: #99e6e6;
    padding: 5px 5px 5px 50px;
    margin: -10px -10px -10px -40px;
}

header h1 a {
    color: #2e3338;
    text-decoration: none;
}

header a {
    text-decoration: underline;
    color: #99e6e6;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Hero Style Start */
.hero {
    background-image: url("../images/pexels-david-bartus-963278.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}

.subtitle {
    background-color: #99e6e6;
    padding: 10px;
    color: #2e3338;
    width: 11%;
    margin: 3.5%;
}

.subtitle h3 {
    font-size: 30px;
    margin: 0;
}
/* Hero Style End */

/* About Style Start */
.section-title {
    font-size: 48px;
    color: #2e3338;
    border-right: 3px solid;
    padding-right: 10px;
    text-align: right;
    margin: 0;
    width: 15%;
}

.primary-border {
    border-color: #2e3338;
}

.intro p {
    line-height: 1.7;
    color: #2e3338;
    width: 65%;
    font-size: 15px;
    margin: -105px 0 0 200px;
}
/* About Style End */

/* Work Style Start */
.pieces {
    width: 90%;
    margin: -75px 0 0 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.piece {
    margin: 20px;
    color: #2e3338;
    flex: 1;
}

.piece img {
    width: 100%;
}

.work-description {
    padding: 0px;
    line-height: 1.3;
    width: 20%;
    margin: -90px 0 0 0;
    background-color: #99e6e6;
}

.work-description h3 {
    font-size: 20px;
}

.work-description h4 {
    font-weight: lighter;
    font-size: 12px;
    margin-bottom: 15px;
}

.work-description p {
    font-size: 17px;  
}

.work-name a, 
.work-type a {
    text-decoration: none;
    color: #2e3338;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
/* Work Style End */





section {
    padding: 60px;
}

.flex-row {
    display: flex;
}


  
  
    





    