* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #003366;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #2e3338;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    background-color: #39a6b2;
    padding: 5px 5px 5px 50px;
    margin: -10px -10px -10px -40px;
}

header h1 a {
    color: #2e3338;
    text-decoration: none;
}

header a {
    text-decoration: underline;
    color: #39a6b2;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

