* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #003366;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: #2e3338;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: -10px 0 -10px -35px;
    font-size: 50px;
    background-color: #99e6e6;
    padding: 5px 10px 0 50px;
    
}

header a {
    text-decoration: none;
    color: #39a6b2;
}

header h1 a {
    color: #2e3338;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 10px 0 0;
    font-weight: lighter;
    font-size: 1.55vw;
    padding: 0 10px 5px 10px;
    color: #99e6e6;
    border-bottom: 4px solid #99e6e6;
}

/* Hero Style Start */
.hero {
    background-image: url("../images/pexels-david-bartus-963278.jpg");
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0 0 -30px 0;
}

.hero-subtitle {
    color: #2e3338;
    background-color: #99e6e6;
    font-size: 25px;
    width: 170px;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    right: 75px;
}
/* Hero Style End */

/* About Style Start */
.intro {
    margin: 0 0 -140px 0;
    width: 85%;
    
}
.section-title {
    color: #2e3338;
    font-size: 50px;
    width: 18%;
    text-align: right;
    border-right: 3px solid #2e3338;
    padding: 0px 10px 0 0;
    margin: 0 20px 60px 0;
    display: inline-block;
}

.primary-border {
    height: 155px;
}

.intro p {
    display: inline;
    margin: -255px 0 0 -60px;
    font-weight: lighter;
    padding: 40px 0 0 275px;
    float: left;
    width: 100%;
    line-height: 1.5;
    font-size: 14px;
}
/* About Style End */

/* Work Style Start */
.entries {
    width: 85%;
}

.secondary-border {
    height: 590px;
}

.entry-one {
    position: relative;
}

.entry-one img {
    display: inline;
    width: 75%;
    height: 288px;
    margin: -800px 0 0 215px;
    position: absolute;
    border: 4px solid #99e6e6;
    bottom: 415px;
}

.entry-info {
    background-color: #99e6e6;
    width: 12%;
    padding: 10px 0 10px 10px;
    position: relative;
    left: 218px;
    bottom: 430px;
}

.entry-info h3, 
.entry-info-two h3,
.entry-info-three h3, 
.entry-info-four h3,
.entry-info-five h3 {
    font-size: 18px;
    font-weight: bold;
    padding: 0 0 5px 0;
}

a {
    text-decoration: none;
    color: #003366;
}

.entry-info p, 
.entry-info-two p,
.entry-info-three p,
.entry-info-four p,
.entry-info-five p {
    font-size: 11px;
    font-weight: lighter;
}

.entry-two img {
    display: inline;
    width: 30%;
    height: 130px;
    margin: -560px 0 0 215px;
    position: absolute;
    border: 4px solid #99e6e6;
    position: absolute;
    bottom: -150px;
}

.entry-info-two {
    background-color: #99e6e6;
    width: 12%;
    padding: 10px 0 10px 10px;
    position: relative;
    left: 218px;
    bottom: 345px;
}

.entry-three, 
.entry-four,
.entry-five {
    position: relative;
}

.entry-three img {
    display: inline;
    position: relative;
    left: 607px;
    bottom: 460px;
    height: 129px;
    width: 35%;
    border: 4px solid #99e6e6;
    margin: 0 0 0 60px;
}

.entry-info-three {
    background-color: #99e6e6;
    width: 12%;
    padding: 10px 5px 10px 10px;
    position: relative;
    left: 670px;
    bottom: 535px;
}

.entry-four img {
    display: inline;
    width: 38.5%;
    height: 130px;
    margin: -970px 0 0 215px;
    position: absolute;
    border: 4px solid #99e6e6;
    top: 460px;
}

.entry-info-four {
    background-color: #99e6e6;
    width: 14%;
    padding: 10px 0 10px 10px;
    position: relative;
    left: 218px;
    bottom: 455px;
}

.entry-five img {
    display: inline;
    height: 129px;
    position: absolute;
    left: 665px;
    bottom: 490px;
    width: 35%;
    border: 4px solid #99e6e6;
}

.entry-info-five {
    background-color: #99e6e6;
    width: 11%;
    padding: 10px 0 5px 10px;
    position: relative;
    left: 669px;
    bottom: 507px;
}

/* Work Style End */

/* Contact Style Start */
.contact-section {
    color: #2e3338;
    font-size: 50px;
    width: 15%;
    text-align: right;
    border-right: 3px solid #2e3338;
    padding: 0px 10px 0 0;
    margin: -525px 20px 500px 0;
}

.div a {
    text-decoration: none;
}

.contact-options {
    float: right;
    margin: -565px 270px 0 0;
}

.contact-options ul li {
    display: inline;
}

.contact-options ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 20px;
    border-bottom: 3px solid #2e3338;
    padding: 0 0 3px 0;
}
/* Contact Style End */

/* Resume Style Start */
.resume-section {
    color: #2e3338;
    font-size: 50px;
    width: 15%;
    text-align: right;
    border-right: 3px solid #2e3338;
    padding: 0px 10px 0 0;
    margin: -545px 20px 500px 0;
}

.resume-link {
    float: right;
    margin: -535px 1035px 0 0;
}

.resume-link ul li {
    display: inline;
}

.resume-link ul li a {
    font-size: 20px;
    border-bottom: 3px solid #2e3338;
    padding: 0 0 3px 0;
    text-decoration: none;
}
/* Resume Style End */

section {
    padding: 50px;
}